@use '../../styles/colors.scss';
@use '../../styles/sizes.scss';

.game {
    background-color: colors.$gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    gap: 0rem;
    border: 0.5rem solid colors.$dark-gray;
    border-radius: 1.5rem;
}

.history {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: 0 3rem;
    flex-wrap: wrap;
    justify-content: center;

    .point {
        background-color: colors.$black;
        box-sizing: content-box;
        display: block;
        width: 3rem;
        height: 3rem;
        border: 0.2rem solid colors.$white;
        border-radius: 50%;
        padding: 0px;
        position: relative;

        p {
            width: fit-content;
            color: colors.$white;
            font-size: 2rem;
            font-weight: 600;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -55%);
        }
    }

    .point.cooperate {
        border-color: colors.$green;

        P {

            color: colors.$green;
        }
    }

    .point.cheate {
        border-color: colors.$red;

        P {

            color: colors.$red;
        }
    }
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 21rem;

    gap: 1rem;

    button {
        width: 10rem;
        padding: 1rem;

        text-transform: uppercase;
        font-size: 1rem;

        background-color: colors.$dark-gray;
        border: 4px solid colors.$black;
        border-radius: 1.5rem;
    }

    button:disabled {
        background-color: colors.$dark-gray;
        opacity: 0.1;
        transition: opacity 2s;
        cursor: not-allowed;
    }
}

.animated {
    animation: flashing linear 2s infinite;
}

@keyframes flashing {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

@media (width <=sizes.$mobile-screen-width) {
    .game {
        padding: 1rem;
    }
}