@use '../../styles/colors.scss';
@use '../../styles/sizes.scss';

.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    // overflow-x: hidden;
}

.header {
    text-align: center;
    padding: 0.5rem;
}

.footer {
    margin: auto auto 0 auto;
    text-align: center;
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 2rem;

    p {
        max-width: 10rem;
    }
}

#how-to-play-label {
    position: relative;
    width: fit-content;
    text-decoration: underline;
}

.how-to-play {
    color: colors.$white;

    h2 {
        font-size: 1.3rem;
    }

    ul {
        text-align: left;
        list-style-position: inside;
        font-size: 1.2rem;

        li {
            margin-top: 1rem;
        }
    }
}

.main {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: colors.$light-gray;
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.15fr 0.85fr;
}



@media (width <=sizes.$mobile-screen-width) {
    .main {
        display: flex;
        flex-flow: column-reverse;
        flex: none;
        justify-content: start;
    }

    .footer {
        flex-flow: column;
    }
}